# MedReach AI Environment Configuration

# Backend
PROJECT_NAME="MedReach AI"
SECRET_KEY="medreach_ai_super_secret_jwt_key_2026_hackathon_demo"
DATABASE_URL="sqlite:///./medreach.db" # or postgresql://user:pass@localhost:5432/medreach_db
AI_OCR_PROVIDER="DEMO" # DEMO / TESSERACT / VISION
UPLOAD_DIR="./uploads/prescriptions"

# Frontend
NEXT_PUBLIC_API_URL="http://127.0.0.1:8000/api"
